@keyframes refreshing {
    /* 0% {transform:rotate(0deg);}
    10% {transform:rotate(36deg);}
    20% {transform:rotate(72deg);}
    30% {transform:rotate(108deg);}
    40% {transform:rotate(144deg);}
    50% {transform:rotate(180deg);}
    60% {transform:rotate(216deg);}
    70% {transform:rotate(2520deg);}
    80% {transform:rotate(288deg);}
    90% {transform:rotate(324deg);}
    100% {transform:rotate(360deg);} */

    0% {transform:rotate(0deg);}
    20% {transform:rotate(36deg);}
    40% {transform:rotate(72deg);}
    60% {transform:rotate(108deg);}
    80% {transform:rotate(144deg);}
    100% {transform:rotate(180deg);}
}

.loading {
    color:#eb7e2b;
    animation:refreshing 1s ease-out infinite
}

.hidden {
    display: none
}

.shown {
    display: block;
}

.bg-01 {
    background-image: url("../img/1.jpg")
}

.bg-02 {
    background-image: url("../img/2.jpg")
}
.bg-03 {
    background-image: url("../img/3.jpg")
}
.bg-05 {
    background-image: url("../img/5.jpg")
}
.bg-06 {
    background-image: url("../img/6.jpg")
}
.bg-07 {
    background-image: url("../img/7.jpg")
}

.bg-10 {
    background-image: url("../img/10.jpg")
}